.ingredient-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-details__header {
  min-width: 640px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient-details__wrapper {
  display: flex;
  gap: 20px;
}

.ingredient-details__nutrients {
  min-width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}